html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sorts Mill Goudy", serif;
  color: #847d6a;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.display-5 {
  font-weight: 700;
}

#head {
  background-color: #434240;
  height: 60%;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url('img/voight-kampff.jpg');
  background-size: cover;
  background-position: center top;
  color: white;
  padding-bottom: 20px;
  height: 94vh;
}

.hero h1 {
  font-size: 6rem;
  filter: drop-shadow(0 0 10px #000);
}

#mainnavbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  background-color: #232220;
}

.navbar-toggler {
  background-color: rgba(132, 125, 106, .5);
  border: none;
}

.container-fluid {
  padding: 0;
}

.sajthead {
  background-color: #232220;
}

.nav-link {
  color: #fff;
}

.card {
  font-size: .8em;
  border-radius: 0;
}

.card-img,
.card-img-top {
  border-radius: 0;
  border-radius: 0;
}

.navbar-toggler {
  padding: .3rem;
  font-size: 1rem;
  line-height: 1;
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

.navbar-nav .nav-link {
  font-size: 1.1em;
}

.navbar-nav .nav-link:hover {
  color: #847d6a;
}

.navbar-nav .nav-link.active {
  color: #ff0000;
  filter: drop-shadow(0 0 5px #ff0000);
}

.vill {
  animation: vill 1.5s steps(2) infinite;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

#device {
  padding: 20px 0;
}

footer {
  background-color: #232220;
  color: #686762;
}

.tlogo {
  width: 50px
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  animation: slideDown 0.3s ease-in-out;
}

.parallax-section-1 {
  min-height: 400px;
  background-image: url("img/rachael2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax-section-2 {
  min-height: 400px;
  background-image: url("img/tyrell-corp-owl2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cov {
  display: none;
}

@keyframes vill {
  0% {
    opacity: 0;
  }
}

/* Mobil nézet */
@media screen and (max-width: 800px) {

  .hero {
    padding: 0;
    height: 50vh;
    ;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1rem;
  }

  .card-body {
    padding: .5rem;
  }

  .parallax-section-1,
  .parallax-section-2 {
    display: none;
  }

  .cov {
    display: block;
  }

  .parallax-section-2 {
    min-height: 400px;
    background-image: url("img/tyrell-corp-owl2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}